<div class="wrapper"  layout="column" layout-align="center center">
<div class="imageplaceholder"> Example Image</div>
<div class="imagefooter"></div>
<div class="bigwhiteblock">
    <div class="eventsmainpage" >
        <div layout="row" layout-align="space-between center" style="display:flex;">
            <span class="doublecross">
                </span>
        <h1>EVENTS</h1>
            <span class="doublecross">
                </span>
            </div>
        <div layout="row" layout-align="center center">
            <div class="eventspaceholder"></div>
            <div class="eventspaceholder"></div>
            <div class="eventspaceholder"></div>
        </div>
    </div>
    <div class="aboutusmainpage">
        <div layout="row" layout-align="space-between center" style="display:flex;">
            <span class="doublecross">
                </span>
            <h1>ABOUT US</h1>
            <span class="doublecross">
                </span>
        </div>
        <p>
            Lorem ipsum blasblsbsldak lkasdl asdklj laskdj l jsadlk saj lksad lkadj lakjlasdj
            Lorem ipsum blasblsbsldak lkasdl asdklj laskdj l jsadlk saj lksad lkadj lakjlasdj
            Lorem ipsum blasblsbsldak lkasdl asdklj laskdj l jsadlk saj lksad lkadj lakjlasdj
            Lorem ipsum blasblsbsldak lkasdl asdklj laskdj l jsadlk saj lksad lkadj lakjlasdj
            Lorem ipsum blasblsbsldak lkasdl asdklj laskdj l jsadlk saj lksad lkadj lakjlasdj
            Lorem ipsum blasblsbsldak lkasdl asdklj laskdj l jsadlk saj lksad lkadj lakjlasdj
            Lorem ipsum blasblsbsldak lkasdl asdklj laskdj l jsadlk saj lksad lkadj lakjlasdj
            Lorem ipsum blasblsbsldak lkasdl asdklj laskdj l jsadlk saj lksad lkadj lakjlasdj
            Lorem ipsum blasblsbsldak lkasdl asdklj laskdj l jsadlk saj lksad lkadj lakjlasdj
            Lorem ipsum blasblsbsldak lkasdl asdklj laskdj l jsadlk saj lksad lkadj lakjlasdj
            Lorem ipsum blasblsbsldak lkasdl asdklj laskdj l jsadlk saj lksad lkadj lakjlasdj
            Lorem ipsum blasblsbsldak lkasdl asdklj laskdj l jsadlk saj lksad lkadj lakjlasdj
            Lorem ipsum blasblsbsldak lkasdl asdklj laskdj l jsadlk saj lksad lkadj lakjlasdj
            Lorem ipsum blasblsbsldak lkasdl asdklj laskdj l jsadlk saj lksad lkadj lakjlasdj
        </p>
    </div>

</div></div>